{% extends "webpage.html" %}
{% block body %}
<div class="container">
  <div class="well">
  <form action="{{ url_for('cproject') }}" method=POST>
  <div class="form-group">
    <label for="pid">Project Id</label>
    <input type="pid" class="form-control" id="pid" name="pid" placeholder="Project id">
  </div>
  <div class="form-group">
    <label for="pname">Project Name</label>
    <input type="pname" class="form-control" id="pname" name="pname" placeholder="Project Name">
  </div>
  <div class="form-group">
  <label for="pdescri">Project Description:</label>
  <textarea class="form-control" rows="5" id="comment" name="pdescri" placeholder="Project description"></textarea>
</div>
  <button type="submit" class="btn btn-default">Submit</button>
</form></div>
<table class="table">

{% for todo in todos %}

		<tr class="success">
			<td><a href="./done?_id={{ todo['_id'] }}"><input type="image" src="static/images/{{todo['done']}}.png" alt="Submit ME"></a></td>
			<td class="name">{{ todo["pname"] }}</td>
			<td class="desc">{{ todo["pdescri"] }}</td>
			<td class="date">{{ todo["uid"] }}</td>
			<td class="pr">{{ todo["pid"] }}</td>
			<td class="func1"><a href="./remove?_id={{ todo['_id'] }}"><button type="submit">DELETE</button></a></td>
			<td class="func1"><a href="./update?_id={{ todo['_id'] }}"><button type="submit">EDIT</button></a></td>
		</tr>
		
	{% endfor %}
	</table>
</div>{% endblock %}