{% extends "webpage.html" %}
{% block body %}
<div class="container">
  
<!-- Trigger the modal with a button -->
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Manage Project</button>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Projects</h4>
      </div>
      <div class="modal-body">
        <p>Under Construction....</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
      </div>
    </div>

  </div>
</div>
</div>
<table class="table">
 
      <tr>
        <th>Project Name</th>
        <th>Project Description</th>
        <th>UID</th>
		<th>Project ID</th>
        <th></th>
        <th></th>
      </tr>
    
{% for todo in todos %}

		<tr class="success">
			<td class="name">{{ todo["pname"] }}</td>
			<td class="desc">{{ todo["pdescri"] }}</td>
			<td class="date">{{ todo["uid"] }}</td>
			<td class="pr">{{ todo["pid"] }}</td>
			<td class="func1"><a href="./remove?_id={{ todo['_id'] }}"><button type="submit">DELETE</button></a></td>
			<td class="func1"><a href="./update?_id={{ todo['_id'] }}"><button type="submit">EDIT</button></a></td>
		</tr>
		
	{% endfor %}
	</table>
{% endblock %}